# ~/.vim/UltiSnips/python.snippets

snippet stringunix "date string to unix" !b
${1:unix_time} = int(datetime.strptime(${2:datestring}, ${3:"%Y%m%d%H%M"}).strftime("%s"))
endsnippet

snippet unixstring "unix time to date string" !b
${1:string_time} = datetime.fromtimestamp(int(${2:unix_time})).strftime("${3:%Y-%m-%d %H:%M:%S}")
endsnippet
